/*FUTURE TRANSITONS**********/

#intro.enter {
	top:-100%;
	transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995);	
	-webkit-transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995);	
}

#intro video {
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background: url(images/CafeBackgroundPhoto.jpg) no-repeat;
  background-size: cover;
}


#intro #mask {
	background:#000;
	z-index: 0;
	position: absolute;
	opacity:0.8; 
	right: 0; 
	bottom: 0;
	width: 100%; 
	height: 100%;
}
body.loading #logo {
	opacity:0;
}

#logo {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-25%;
	margin-top:-18%;
	width:50%;
	height:auto;
	opacity:1;
}

#openmenu {
	display:none;
}

@media screen and (max-aspect-ratio: 14/9) {
	#logo {
		margin-left:-35%;
		margin-top:-20%;
		width:70%;
	}
}

#logo img {
	width:100%;
	height:auto;	
}


/* GRID NOTES*****************************/

#grid.enter, #grid_events.enter {
	/*top:0;*/
	transition:top 0.7s ease-out, opacity 1.2s ease-in-out, height 0s linear;	
	-webkit-transition:top 0.7s ease-out, opacity 1.2s ease-in-out, height 0s linear;	
}

#grid.fade {
	opacity:0;
	height:0 !important;
	min-height:0;
	overflow:hidden;
	transition:opacity 1s ease-in-out, height 0s 1s linear;	
	-webkit-transition:opacity 1s ease-in-out, height 0s 1s linear;	
}

#grid_events.fx {
	position:fixed;
	top:0;
} 

/* IMAGE ****************************/
img.profile {
	width:250px;
	height:auto;
}

<div id="logo"><img src="images/events-icon.jpg" alt="logo"></div>

/****************************************************/

body {
	width:100%;
	height:100%;
	opacity:1;
}

body, div, a, h1, h2, h3, h4, h5, h6, p {
	margin:0;
	padding:0;	
}

li {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	text-decoration: none;
}

.header {
	/*font-family: 'Voltaire', sans-serif; */
	margin: auto;
	font-family: 'Playfair Display', serif;
	font-size: 4em;
	font-weight: 100;
	text-align: center;
	padding-top: 80px;
	color: white;
}

.header-two {
	font-family: Times;
	margin: auto;
	text-align: center;
	padding-top: 10px;
}



/* INTRO *****************************************/

#intro {
	position: fixed;
	width:100%;
	height:100%;
	background:url(images/CafeBackground2.jpeg) no-repeat center center;
	background-size: cover;
	top:0;
	z-index:-10;
  }	
  

/*Burger Menu*/
* {
  box-sizing: border-box;
}
body.open {
  overflow: hidden;
}
body.open:before {
  visibility: visible;
  opacity: 1;
}
body:before {
  content: "";
  position: absolute;
  background-color: #666547;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}
.burger {
  position: fixed;
  top: 20px;
  left: 20px;
}
.burger__button {
  display: block;
  position: relative;
  background: #666547;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease;
  border: 2px solid transparent;
  box-shadow: 0px 0px 8px -2px #333333;
}
.burger__button.open {
  border: 2px solid #ffffff;
  box-shadow: none;
}
.burger__button__icon {
  display: inline-block;
  position: absolute;
  background: #fff;
  margin: 0 auto;
  width: 20px;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  transform: translateY(-1px);
}
.burger__button__icon:before,
.burger__button__icon:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  background: #fff;
  width: 20px;
  height: 2px;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
.burger__button__icon:before {
  bottom: 10px;
}
.burger__button__icon:after {
  top: 10px;
}
.burger__button.open .burger__button__icon {
  background: transparent;
}
.burger__button.open .burger__button__icon:before,
.burger__button.open .burger__button__icon:after {
  transform-origin: 0 50%;
  width: 28.28427125px;
}
.burger__button.open .burger__button__icon:before {
  transform: rotateZ(0.78539816rad);
}
.burger__button.open .burger__button__icon:after {
  transform: rotateZ(-0.78539816rad);
}
.burger__menu {
  list-style-type: none;
  padding: 0 0 0 20px;
}
.burger__menu li {
  display: block;
  position: relative;
  margin: 15px 0;
  visibility: hidden;
  transition: all 0.5s ease;
  transform: translateX(-400px);
}
.burger__menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: Prata,Georgia,serif;
  font-weight: normal;
  transition: all 0.4s ease;
  border-left: 3px solid transparent;
  padding-left: 0;
}
.burger__menu a:hover {
  padding-left: 30px;
  border-left: 3px solid #fff;
}
.burger__button.open + .burger__menu li {
  transform: translateX(0);
  visibility: visible;
}

/*Standard Top Menu*/
/*
nav {
	position:fixed;
	top:80%;
	width:100%;
	z-index:20;
}

nav.navtop {
	top:60px !important;
	transition:top 0.5s ease-out;	
	-webkit-transition:top 0.5s ease-out;
}

.menu {
	width:120px;
	height:90px;
	font-family:Prata,Georgia,serif;
	font-size:45px;
	color:#666547;	
	text-align:right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity:0.6;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	cursor:pointer;
}
*/

.events-main {
	font-size: 3em;
	font-style: san-serif;
	border:1px solid #eee;
    background-color: #666547;
    border-width: 5px;
    border-radius: 5px;
	margin: 3em auto;
	text-align: top;
	height: 40px;
    width: 300px;
    padding: 50px;
    border-radius: 1em;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


/* EVENTS LISTED******* */
#grid {
	position:absolute;
	top:100%;
	width:100%;
	z-index:1;
	opacity:1;
	min-height:750px;
	overflow:hidden;
	transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995), opacity 2s ease-in-out, height 0s linear;
	-webkit-transition:top 0.7s cubic-bezier(0.560, 0.025, 0.360, 0.995), opacity 2s ease-in-out, height 0s linear;
}
.content {
    background-color: #eeeeee;
    border-radius: 1px;
	margin: 3em auto;
	text-align: center;
	height: 500px;
    width: 500px;
    border-radius: 1em; 
	padding: 75px;
}

#grid_events {
	position:absolute;
	width:100%;
	height:100%;
	top:100%;
	z-index:0;
	background: url(images/background-events.jpg);
	background-repeat:repeat;
	background-size:cover;
	background-position:center center;
	transition:background 0.8s linear;
	-webkit-transition:background 0.8s linear;
}

#events-scrolldown {
	margin: auto;
	text-align:center;
	font-size: 2em;
}

/* FOOTER ****************************/

footer {
	position:fixed;
	z-index:20;
	bottom:0px;
	width:100%;
	height:200px;
	padding-top:10px;
	background:#222;
	font-size:15px;
	color:#777;
	font-family:'Futura W01 Book', Arial, sans-serif;
	font-weight:normal;	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	transition:bottom 0.5s ease-out;
}

footer.visible {
	bottom:0;
}

footer .content {
	position:relative;
	width:84%;
	margin:0 auto;
	left:0;
}

footer div{
	display: inline-block;
}


/* HTML NAV MENU **********************************

		<!--
		<div class="openmenu">
		<nav>
			<div class="menu menumenu"><span class="label">Menu</span></div>
       		<div class="menu menuevents"><span class="label">Events</span></div>
        	<div class="menu menushop"><span class="label">Shop</span></div>
        	<div class="menu menugallery"><span class="label">Gallery</span></div>
        	<div class="menu menubrainfood"><span class="label">Brain Food</span></div>
    	</nav>
    	-->

/* HTML FOOD MENU **********************************

<!--

Bazaar Cafe

Bill of Fare // MENU

Specialties
Chicken Curry	
$6.75
Unagi Bowl	
$6.75
Teriyaki Bowl	
$5.75
Japanese Rice Soup	
$4.50
(with smoked salmon)
$6.50
Popcorn	
$2.50
Wasabi Popcorn	
$3.50
Garlic Bread	
$2.50

Daily Specials
Soup 	
Cup - $3.00
Bowl - $4.25

Soup & Salad 	
$6.00

Quiche	
 $5.50

//Sandwiches\\
Portabella Panini	
$6.50

Chicken Panini	
$6.50

Pesto Melt	
$6.00

Grilled Chicken Breast	
$6.50

Veggie Burger	
$6.00

Grilled Cheese	
$4.50

(with tomato)
$5.00

Tuna Melt	
$6.00

Jumbo Hot Dog	
$3.75

PBJ
$3.00

Salads
Green	
$6.00

Spinach	
$6.00

Caesar	
$6.00

Chicken Breast	
$6.50

Salmon	
$6.50

Tuna	
$6.50

//Bagels\\
Jam/Butter	
$2.25

Cream Cheese	
$2.25

Hummus w/tomato	
$4.00

Veggie	
$4.00

Lox & Capers	
$6.50

Tuna	
$5.50

Sweets
Cakes and Pies	
 $3.75

Cookies	
 Varied

Ice Cream	
$3.00

Ice Cream Float	
$4.00

Pie à la mode	
 $4.50

Assorted Pastries	
 Varied

Drinks
 Orange Juice	
 $3.50

 Hot Apple Cider	
 $2.50

 Italian Soda	
 $2.50

 Other Soft Drinks	
 $1.75

 Hot Chocolate	
 S-$2.25
 L-$2.75

 Soy Milk	
 S-$2.50
 L-$3.00

 Regular Milk	
 S-$1.50
 L-$2.00

Booze
Beer	
 $4.50

Port / Mead / Plum Wine	
 $4.75

Guinness	
 $4.75

Sake
Warm or Cold (unfiltered)	
$4.00

The galanter(fruit smoothie with unfiltered sake)	
$6.00

Wine
Glass	
$4.75
Bottle
$20.00

Corkage (per bottle)	
$10.00

Coffee and Teas
House Blend Coffee
S-$1.50	
M-$1.75
L-$2.00

Iced Coffee	
$2.50

Single
Double

 Espresso	
 $1.75
 $2.55

 Latte	
 $3.00
 $3.50

 Cappuccino	
 $2.50
 $3.00

 Americano	
 $2.00
 $2.50

 Macchiato	
 $2.00
 $2.50

 Mocha	
 $3.25
 $3.75

 Au Lait	
 $2.50
 $3.00

Teas
Hot or Iced	
$2.00

Chai
Small	
$3.00
Large
$3.50

--> */

<style type="text/css">
    
    </style> 

body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
    }
    div {
        width: 600px;
        margin: 5em auto;
        padding: 50px;
        background-color: #fff;
        border-radius: 1em;
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        body {
            background-color: #fff;
        }
        div {
            width: auto;
            margin: 0 auto;
            border-radius: 0;
            padding: 1em;
        }
    }


