<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" >
<div class="picker-toggler">SELECT DATE</div>
<div class="datepicker"></div>

<div class="nightscroll"></div>