<div class="projnav">
  <ul class="ul-menu">
   <li class="menu work"><a href="/#work.html">WORK</a></li>
   <li class="menu blog">BLOG</li>
   <li class="menu about"><a href="/#about.html">ABOUT</a></li>
   <li class="menu contact contact-s"><a href="/contact.html">CONTACT</a></li>
  </ul>
</div>


<div class="section-title">
 	<h1 id="contact">Contact</h1>
 	<br />
  		<p>For general work inquiries please email me at annaskuba@gmail.com. I'd love to hear from you!</p>
</div>
<!-- <div id="wrapper">
	<section>
		<ul id="gallery">
			<li>
				<a href="../images/pgtravel-moss1.JPG">
					<img src="../images/pgtravel-moss1.JPG" alt="">
					<p>Hello</p>
				</a>
			</li>
			<li>
				<a href="../images/pgtravel-olympic1.jpg">
					<img src="../images/pgtravel-olympic1.jpg" alt="">
					<p>Hello</p>
				</a>
			</li>
			<li>
				<a href="../images/pgwork-wed1.jpg">
					<img src="../images/pgwork-wed1.jpg" alt="">
					<p>Hello</p>
				</a>
			</li>
			<li>
				<a href="../images/pgwork-wed2.jpg">
					<img src="../images/pgwork-wed2.jpg" alt="">
					<p>Hello</p>
				</a>
			</li>
			<li>
				<a href="../images/pgwork-wed3.jpg">
					<img src="../images/pgwork-wed3.jpg" alt=""><p>Hello</p>
				</a>
			</li>
		</ul>
	</section>
</div> -->

